@page
@model WebCars.Pages.Trucks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Truck</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Tonnage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Tonnage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Truck?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
